<div class="modal" id="add_corpus">
    <div class="modal-content">
        <h5>Добавить корпус</h5>
        <div class="modal-body">
            <div class="row">
                <div class="input-field col s4">
                    <input type="text" class="form-control" data-bind="value: navigo.corpus_name, valueUpdate: 'keyup'" id="corpus-name" placeholder="Название корпуса">
                </div>
                <div class="input-field col s4">
                    <input type="number" class="form-control" data-bind="value: navigo.corpus_floor, valueUpdate: 'keyup'" id="corpus-floor" placeholder="Номер этажа">
                </div>
                <div class="input-field col s4">
                    <select data-bind="options: navigo.corpus_address, value: navigo.corpus_address_selected">
                    </select>
                    <label>Адрес корпуса</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s8">
                    <form action="#">
                        <div class="file-field input-field">
                            <div class="btn light-blue">
                                <span>План</span>
                                <input type="file" name="file" id="image_to_upload"/>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <!-- ko if: navigo.editMode_corpus() -->
            <button type="button" class="btn btn-danger" data-bind="click: navigo.deleteCorpus" data-dismiss="modal" >Удалить</button>
            <!-- /ko -->
            <button type="button" class="btn btn-primary modal-action modal-close" data-bind="click: navigo.editMode_corpus() ? navigo.updateCorpus : navigo.addCorpus, enable: navigo.validFormCorpus">OK</button>
            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        </div>
    </div>
</div>
