
<div class="modal" style="width: 500px!important;" id="add_edge2">
    <div class="modal-content">
        <h5 data-bind="text: navigo.modalTitle"></h5>
        <div class="modal-footer">
            <a class="blue lighten-2 waves-effect waves-teal btn modal-action modal-close" data-bind="click: navigo.addEdge">Да</a>
            <a class="red lighten-2 waves-effect waves-teal btn modal-action modal-close" data-bind="click: navigo.dropSelection">Нет</a>
        </div>
    </div>
</div>