<div class="modal modal-fixed-footer" id="add_area">
    <div class="modal-content">
        <h5 data-bind="text: navigo.modalTitle"></h5>
        
        <div class="row">
            <div class="input-field col s6">
                <label for="name">Навание</label>
                <input type="text" class="form-control" data-bind="value: navigo.title, valueUpdate: 'keyup'" id="name">
            </div>
            <div class="input-field col s6">
                <select id="floor" data-bind="options: areaTypes, value: areaType, optionsText: 'value'"></select>
                <label for="floor">Тип</label>
            </div>
        </div>

        <!-- ko if: navigo.flagForEditNode() && navigo.areaType().key == 'connect' -->
        <div class="row">
            <a class="btn blue lighten-1 modal-trigger" href="#connect_node" xdata-bind="click:function(){$('#add_area').modal('close')}">Соединить с ...</a>
            <div class="clearfix n-conneced-nodes">
                <ul style="display:inline-block;" data-bind="foreach:navigo.connectedNodes">
                    <li >
                        <span data-bind="text:$data.source != navigo.editingNode().data.id ? $data.source : $data.target"></span>
                        <a class="close" data-bind="click: navigo.deleteConnection.bind($data)"><i class="material-icons tiny">close</i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <div class="modal-footer">
        <!-- ko if: navigo.flagForEditNode() -->
        <a class="red lighten-2 waves-effect waves-teal btn modal-action modal-close" data-bind="click: navigo.deleteNode">Удалить</a>
        <!-- /ko -->
        <a class="lighten-2 teal waves-effect waves-teal btn modal-action modal-close" data-bind="click: navigo.flagForEditNode() ? navigo.updateArea : navigo.addArea">Соханить</a>
    </div>
</div>