<div class="modal modal-fixed-footer"  id="connect_node">
    <div class="modal-content" style="padding:0;">
        <h5 style="margin-left:20px;">Соединить переход с...</h5>
        <div class="modal-body">
            <div class="row" style="margin-bottom:0;border-top: 1px solid lightgray;">
                <div class="input-field col s5" style="overflow-y: scroll; height: 348px; padding: 0; margin:0;">
                    <div class="n-search-corpus">
                        <input style="margin:0" type="text" data-bind="value: navigo.searchCorpus2, valueUpdate: 'keyup'"/>
                    </div>
                    <div class="n-corpus-list" data-bind="foreach: navigo.corpusList_filtered2">
                        <div class="n-corpus-item" data-bind="click:navigo.loadCorpusConnectNodes.bind(this), css:{'active light-blue lighten-4':$data == navigo.selectedCorpusModal()}">
                            <span data-bind="text:name"></span>
                            <p>
                                <span class="n-address" data-bind="text:address"></span> 
                                <span class="n-floor" data-bind="text: floor + ' этаж'"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="input-field col s7">
                    <!-- ko if: navigo.connectNodesList().length > 0 -->
                    <div class="n-corpus-list" data-bind="foreach:navigo.connectNodesList">
                        <div class="n-corpus-item" data-bind="click: function(){navigo.selectedConnectingNode($data)}, css:{'active light-blue lighten-4':navigo.selectedConnectingNode() == $data}">
                            <span data-bind="text:$data.name"></span>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: navigo.connectNodesList().length == 0 -->
                    <div class="outer" style="width:400px; height:320px;">
                        <div class="middle">
                            <div class="inner" style="width: 180px">
                                <div style=" text-align: center;">Точки возможного соединения не найдены</div>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
            
        </div>
    </div>
    <div class="modal-footer">
        <a class="blue lighten-2 waves-effect waves-teal btn-flat modal-action modal-close" data-bind="click: navigo.connectNodes, enable: navigo.selectedConnectingNode, css:{'disabled':navigo.selectedConnectingNode() == null}">OK</a>
    </div>
</div>
