<div class="modal" id="add_edge">
    <div class="modal-content">
        <h5 data-bind="text: navigo.modalTitle"></h5>
        <div class="modal-body">
            <div class="row">
                <div class="input-field col s6">
                    <div class="form-group">
                        <select class="custom-select" data-bind="options: navigo.nodes, value: navigo.area_left, optionsText: function(item) {return item.data.id}, optionsCaption: 'Choose...'">
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" style="resize:none; width: 100%;" data-bind="value: navigo.text_left, valueUpdate: 'keyup'" rows="3"></textarea>
                    </div>
                </div>
                <div class="input-field col s6">
                    <div class="form-group">
                        <select class="custom-select" data-bind="options: navigo.nodes, value: navigo.area_right, optionsText: function(item) {return item.data.id}, optionsCaption: 'Choose...'">
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" style="resize:none; width: 100%;" data-bind="value: navigo.text_right, valueUpdate: 'keyup'" rows="3"></textarea>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="modal-footer">
            <!-- ko if: navigo.flagForEditEdge() -->
            <a class="lighten-2 red waves-effect waves-teal btn modal-action modal-close" data-bind="click: navigo.deleteEdge">Удалить</a>
            <!-- /ko -->
            <a class="lighten-2 teal waves-effect waves-teal btn modal-action modal-close" data-bind="click: navigo.flagForEditEdge() ? navigo.updateEdge : navigo.addEdge">Сохранить</a>
        </div>
    </div>
</div>