{% load static from staticfiles %}
<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="img/icons/urfu.ico" type="image/x-icon">

  <title>NaviGo</title>

  <!-- <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <link href="{% static 'css/style.css'%}" rel="stylesheet">
  <!-- <link href="css/easy-autocomplete.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="{% static 'slick/slick.css'%}"/>
  <link rel="stylesheet" href="{% static 'slick/slick-theme.css'%}"/>
  
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <script src="{% static 'js/lib/jquery-3.1.1.min.js'%}"></script>
  <script src="{% static 'js/lib/jquery-ui.js'%}"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <!-- <script src="{% static 'js/lib/jquery.easy-autocomplete.min.js'%}"></script> -->
  <script src="{% static 'js/lib/cytoscape.js'%}"></script>
  <script src="{% static 'js/lib/dagre.min.js'%}"></script>
  <script src="{% static 'js/lib/cytoscape-dagre.js'%}"></script>
  <script src="{% static 'slick/slick.min.js'%}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-touch-events/1.0.5/jquery.mobile-events.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.1.1/iscroll-min.js"></script> -->
  <script src="{% static 'js/lib/iscroll.js'%}"></script>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

</head>

<body>

    <div id="background"></div>


    <div class="modal n-mobile-mobal" id="search_point">
        <div class="modal-content">
            <div class="modal-header">
                <div class="n-inline form-control">
                  <div class="n-back modal-action modal-close"></div>
                  <!-- ko if: navigo.searchValue() == 'from' -->
                  <input type="text" id="n_input" placeholder="Откуда" data-bind="value: navigo.search, valueUpdate: 'keyup'">
                  <!-- /ko -->
                  <!-- ko if: navigo.searchValue() == 'to' -->
                  <input type="text" id="n_input" placeholder="Куда" data-bind="value: navigo.search, valueUpdate: 'keyup'">
                  <!-- /ko -->
                  <!-- ko if: navigo.search().length > 0 -->
                  <div class="n-close" data-bind="click:function(){navigo.search('')}"></div>
                  <!-- /ko -->
                </div>
            </div>
            <div class="modal-body n-modal-body">
              
              <div id="iscroll1">
                <!-- ko if: navigo.matchPointsList().length > 0 -->
                <div class="n-searchList" data-bind="foreach: navigo.matchPointsList">
                  <div class="n-search-item">
                    <div data-bind="text: $data"></div>
                  </div>
                </div>
                <!-- /ko -->
                <!-- ko if: navigo.matchPointsList().length == 0 -->
                <div class="outer">
                    <div class="middle">
                        <div class="inner" style="width: 200px">
                          <!-- ko if: navigo.searchValue() == 'from' -->
                          <div style="color: black; text-align: center;">Введите начальную точку, например, И-306 или столовая ГУК</div>
                          <!-- /ko -->
                          <!-- ko if: navigo.searchValue() == 'to' -->
                          <div style="color: black; text-align: center;">Введите конечную точку, например, И-306 или столовая ГУК</div>
                          <!-- /ko -->
                        </div>
                    </div>
                </div>
                <!-- /ko -->

              </div>
            </div>
        </div>
    </div>



    <div class="modal n-mobile-mobal" id="find_way">
        <div class="modal-content">
          <div class="modal-header">
              <div class="n-inline form-control">
                  <div class="n-back modal-action modal-close"></div>
                  <span data-bind="text: (function(){return 'От ' + navigo.from() + ' до '+ navigo.to()})()"></span>
              </div>
          </div>
            <div class="modal-body n-modal-body">

              <div class="slider one-time" style="margin-bottom: 0;" data-bind="foreach: navigo.way">
                <div class="carousel-item">
                  <!-- ko if: $data.yandexAPI -->
                  <div data-bind="attr:{id: 'map'+$index()}, style:{width: $data.width, height: $data.height}" xstyle="width: 200px; height: 400px"></div>
                  <!-- /ko -->
                  <!-- ko if: !$data.yandexAPI -->
                  <div data-bind="attr:{id: 'cy'+$index()}, css:{'cy': true}, style:{backgroundImage: 'url(' + image + ')'}">
                  </div>
                  <!-- /ko -->
                </div>
              </div>

            </div>
        </div>
    </div>


      <div class="outer">
          <div class="middle">
            <div class="inner">
              <div class="starter-template">
                <div style="position: absolute; left: 50%; top: 7%;">
                  <div class="urfuLogo"></div>
                </div>
                <span style="color: white; font-size:16px">Введите ближайшую к Вам аудиторию</span>
                <br>
                <span style="color: white; font-size:16px">А затем ту, которую хотите найти</span>
              </div>
              <form>
                <div data-bind="click: navigo.selectPoint.bind(this, 'from'), text: (function(){return navigo.from().length>0 ? navigo.from() : 'Откуда'})()" class="form-item">Откуда</div>
                <div data-bind="click: navigo.selectPoint.bind(this, 'to'), text: (function(){return navigo.to().length>0 ? navigo.to() : 'Куда'})()" class="form-item">Куда</div>
                <div class="center-align find_way" style="margin-top:20px">
                  <button type="submit" style="color:white; background:#8ba705;" data-bind="click: navigo.start, enable: navigo.from().length > 0 && navigo.to().length > 0" class="btn btn-lg btn-dark">Найти путь</button>
                </div>
                </form>
            </div>
          </div>
        </div>





  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <!-- <script src="{% static 'js/lib/bootstrap.min.js'%}"></script> -->
  <!-- <script src="{% static 'js/lib/Blob.js'%}"></script> -->
  <script src="{% static 'js/lib/jquery.hotkeys.js'%}"></script>
  <script src="{% static 'js/lib/knockout-3.4.0.js'%}"></script>
  <script src="{% static 'js/navigo.js'%}"></script>
  <script src="{% static 'js/lib/tooltipster.bundle.min.js'%}"></script>
  <!-- <script src="{% static 'js/lib/pager.min.js"></script> -->
</body>

</html>