{% load static from staticfiles %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'img/icons/urfu.ico' %}" type="image/x-icon">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NaviGo</title>

    <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
    <!-- <link class="cssdeck" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css"> -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'slick/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}" /> -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <!-- <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="{% static 'js/lib/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/lib/jquery-ui.js' %}"></script>
    <!-- <script src="{% static 'js/lib/jquery.easy-autocomplete.min.js' %}"></script> -->
    <!-- <script src="{% static 'slick/slick.min.js' %}"></script> -->
    <script src="{% static 'js/lib/cytoscape.js' %}"></script>
    <script src="{% static 'js/lib/dagre.min.js' %}"></script>
    <script src="{% static 'js/lib/cytoscape-dagre.js' %}"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <!-- <script src="{% static 'js/lib/bootstrap.min.2.3.2.js' %}"></script> -->

    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
          

    <!-- <script src="{% static 'js/lib/iscroll.js' %}"></script>
    <script src="{% static 'js/lib/iscroll-zoom.js' %}"></script> -->
    <!-- <script type="text/javascript">
        var myScroll;

        function loaded () {
            myScroll = new IScroll('#wr', { 
                scrollX: true, 
                freeScroll: true, 
                //interactiveScrollbars: true,
                //shrinkScrollbars: 'scale',
                //fadeScrollbars: true,
                zoom: true,
                mouseWheel: true,
                wheelAction: 'zoom'
            });
            
            myScroll.disable()
            }

        document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
    </script> -->

</head>

<body xonload="loaded()" class="light-blue lighten-4" data-bind="css:{'n-hide-menu':navigo.isMenuHidden()}">


    {% include "modals/addCorpus.html" %}
    {% include "modals/addEdge.html" %}
    {% include "modals/addNode.html" %}
    {% include "modals/editEdge.html" %}
    {% include "modals/connectingNodes.html" %}
  

    <nav class=" blue darken-1">
        <div class="nav-wrapper">
            <a href="#" data-activates="slide-out" class="left" id="nav_menu" style="margin: 0 18px"><i class="material-icons">menu</i></a>
            <!-- <a href="#" class="brand-logo">Logo</a> -->
            <!-- ko if: navigo.creationEdgeMode() -->
            <a href="#" class="left">Режим создания соединения</a>
            <!-- /ko -->
            <!-- ko if: navigo.deletionEdgeMode() -->
            <a href="#" class="left">Режим удаления соединения</a>
            <!-- /ko -->
            <!-- ko if: navigo.defaultMode() -->
            <a href="#" class="left">Стандартный режим</a>
            <!-- /ko -->
            <!-- ko if: navigo.blockEdgeMode() -->
            <a href="#" class="left">Режим блокировки соединения</a>
            <!-- /ko -->
            <ul id="nav-mobile" class="right">
                <li><a data-bind="click: navigo.setDefaultMode" href="#" title="Стандартный режим"><i style="transform: rotate(-22deg);" class="material-icons">navigation</i></a></li>
                <li><a data-bind="click: navigo.setCreationEdgeMode" href="#" title="Режим создания соединений"><i class="material-icons">timeline</i></a></li>
                <li><a data-bind="click: navigo.setBlockEdgeMode" href="#" title="Режим блокировки соединений"><i class="material-icons">lock</i></a></li>
                <li><a data-bind="click: navigo.setDeletionEdgeMode" href="#" title="Режим удаления соединений"><i class="material-icons">delete</i></a></li>
                <li><a href="#" title="Инструкции к редактору"><i class="material-icons">help_outline</i></a></li>
                <!-- <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li> -->
            </ul>
        </div>
    </nav>

    <div class="light-blue lighten-5 n-editor-field outer">
        <div style="display:none" data-bind="visible: navigo.currentCorpus().id " class="light-blue lighten-5 middle wrapper" id="wr">
            <div id="cy"></div>
        </div>
        <div data-bind="visible: !navigo.currentCorpus().id " class="middle">
            <div class="inner" style="width: 200px">
                <div style="text-align: center;">Для начала работы выберите или создайте корпус</div>
            </div>
        </div>
    </div>
    <ul id="slide-out" class="side-nav" style="height: 100%!important;">
        <div xstyle="overflow-y: auto; overflow-x: hidden; height: inherit; width:250px;">
            <!-- ko if: !navigo.isMenuHidden()-->
            <div class="n-search-corpus">

                <a class="btn-floating waves-effect waves-light blue modal-trigger" style="padding:0!important" href="#add_corpus"><i class="material-icons">add</i></a>
                <!-- <div class="n-add-btn btn" data-toggle="modal" data-target="#add_corpus"></div> -->
                <input type="text" class="right" style="width:75%; margin:0;" data-bind="value: navigo.searchCorpus, valueUpdate: 'keyup'"/>
            </div>
            <div class="n-corpus-list collection" data-bind="foreach: navigo.corpusList_filtered">
                <div class="n-corpus-item collection-item" style="padding: 7px 20px!important;" data-bind="click:navigo.loadCorpusData.bind(this), css:{'active light-blue lighten-4':$data == navigo.currentCorpus()}">
                    <span data-bind="text:name"></span>
                    <p>
                        <span class="n-address" data-bind="text:address"></span> 
                        <span class="n-floor" data-bind="text: floor + ' этаж'"></span>
                    </p>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </ul>
          
                




    <script src="{% static 'js/lib/knockout-3.4.0.js' %}"></script>
    <script src="{% static 'js/navigo.js' %}"></script>
    <script src="{% static 'js/editor.js' %}"></script>
    <script src="{% static 'js/lib/tooltipster.bundle.min.js' %}"></script>


</body>

</html>