
.starter-template{
    text-align: center;
    margin-bottom: 40px;
    padding-top: 50px;
}
.navbar-brand{
    color:white!important;
}
body, html{
    width: 100%;
    height: 100%;
    /*display: flex;*/
    align-items: center;
}
body{
    background-color: black;
}
.img_text{
    display: block;
    position: absolute;
    bottom: 60px;
    margin: auto;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 25px;
    background: rgba(47, 110, 111, 0.5);

}
.img_text p{
    margin: 5px 0!important;
}
.way{
    width:100%;
    /*display: table;*/
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 320px) {
    button{
        width:100%;
    }

}


@media screen and (min-aspect-ratio: 4/3) {
	#carouselExampleIndicators {
		width: 133.33vh;
		height: 100vh;
		background: #fed;
	}
}

@media screen and (min-width: 1000px) {
	#carouselExampleIndicators {
		width: 800px;
		height: 600px;
		background: #fed;
	}
}

#cy, .cy{
    z-index: 100; 
    margin:auto; 
    /*height:600px; 
    width:800px;  */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.wrapper{
    background-color: #bababa;
    /*max-width:800px;
    max-height:600px; */
    /* margin-top: 10px; */
    /* margin-bottom: 50px; */
    height:100%;
    overflow: scroll;
    /* border: 1px dashed #ddd;
	box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee; */
}

.selectedItem, .selectedItem:hover{
    background-color: #99c3aa!important;
    color: white!important;
    text-shadow: none!important;
}

#wr::-webkit-scrollbar-track
{
	border-radius: 10px;
	background: rgba(0,0,0,0);
}

#wr::-webkit-scrollbar{
    width: 1px;
    height: 1px;
}

#wr::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background: rgba(0,0,0,0);
}

#wr::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
  }


  .error-message{
    font-size: 15px;
    color: #ff0000;
    text-shadow: black 0px 0px 1px;
  }

  .outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  
  .inner {
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
    /* width: 400px; */
    /*whatever width you want*/
  }
  .form-item + .form-item{
    margin-top: 20px;
  }

  .form-item{
    background-color: whitesmoke;
    border-radius: 3px;
    padding: 8px 15px;
  }

#search_point .modal-dialog,
#find_way .modal-dialog{
    margin:0;
}
#search_point .modal-content,
#find_way .modal-content{
    border-radius: 0;
    border: none;
    padding: 0;
}
.n-inline div{
    display: inline-block;
}
.n-inline input{
    border: none;
    outline: none;
}
.n-close{
    float: right;
}
.n-back:after,
.n-close:after,
.n-add-btn:after,
.n-hide-btn:after,
.n-hide-btn,
.n-add-btn{
    content: "";
    display: inline-block;
}
#iscroll1{
    position: relative;
	height: calc(100% - 70px);
    overflow: hidden;
    
	/* Prevent native touch events on Windows */
	-ms-touch-action: none;

	/* Prevent the callout on tap-hold and text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	/* Prevent text resize on orientation change, useful for web-apps */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.n-searchList{
    position: absolute;

    /* overflow-y: hidden; */
    /* height: calc(100% - 70px); */
    width: 100%;
	/* Prevent elements to be highlighted on tap */
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	/* Put the scroller into the HW Compositing layer right from the start */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

.n-search-item{
    padding: 10px 15px;
}
.n-search-item + .n-search-item{
    border-top: 1px solid gainsboro;
}

.n-back:after{
    width: 30px;
    height: 12px;
    vertical-align: middle;
    background: url(../img/icons/arrow_back.svg) center center no-repeat;
}

.n-close:after, .n-add-btn:after, .n-hide:after, .n-show:after{
    width: 20px;
    height: 20px;
    padding-left: 1px;
    background: url(../img/icons/close.svg) center center no-repeat;
}
.n-add-btn:after{
    background: url(../img/icons/add.svg) center center no-repeat;
}
.n-hide:after{
    background: url(../img/icons/back.svg) center center no-repeat;
}
.n-show:after{
    background: url(../img/icons/forward.svg) center center no-repeat;
}
.n-search-corpus{
    padding: 10px;
    margin-bottom: 10px;
}
.n-search-corpus input{
    display: inline-block;
    width:calc(100% - 95px);
    margin: 0;
}
.n-search-corpus .n-add-btn,
.n-search-corpus .n-hide-btn{
    padding: 4px;
    margin-right: 5px;
    height: 20px;
    width: 20px;
}
.n-hide-btn.n-hide{
    margin: 0 0 0 5px!important;
}

.n_header{
    background: white;
    height: 50px;
    border-radius: 0;
    padding: 0;
    line-height: 50px;
    border: none;
}
.n_header .n-back{
    height: 50px;
    width: 40px;
    padding-left: 10px;
}
.n-modal{
    top: -100%!important;
}
.n-modal.fade.in{
    top: 10%!important;
}
.n-modal-body{
    padding: 10px;
}

.n-modal-header{
    padding: 0;
    border-bottom: 1px solid gray;
}
.n-modal form{
    margin: 0!important;
}
.n-modal .modal-footer{
    background-color: #fff;
}
.n-modal .modal-header h3{
    font-size: 18px;
}

.n-corpus-item:hover{
    background-color: #b3e5fc !important;
}
.n-corpus-item{
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: 1px solid lightgray;
}
.n-conneced-nodes{
    display: inline-block;
    margin-left: 20px;
}
.n-conneced-nodes ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
    display: inline-block;
    vertical-align: bottom;
}

.n-conneced-nodes ul li {
    float: left;
    cursor: pointer;
    margin-right: 10px;
}
/* .n-conneced-nodes li:after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../img/icons/close.svg) center center no-repeat;
} */

/* .n-conneced-nodes li span {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
} */

.n-selected-list-item{
    background-color: #ededed;
}
.n-corpus-item > span{
    font-weight: 500;
    color:black!important;
}
.n-corpus-item > p{
    margin: 0;
    color:gray;
}
.n-corpus-item .n-floor{
    float:right;
}
nav{
    position: fixed;
    z-index: 101;
}
nav ul i{
    font-size: 2.5rem!important;
}

.n-editor-field{
    /* width: calc(100% - 270px); 
    margin-left:250px;  */
    height: calc(100% - 65px);
    background-color: #aaaaaa;
    padding: 10px;
    overflow: scroll;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin-top: 65px;
}
.n-control-panel{
    height: 100%;
    position: fixed;
    width: 250px;
    overflow: hidden;
    background: white; 
    top:0px; 
    left: 0px;
    z-index: 100;
    border-right: 1px solid;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.n-hide-menu .n-control-panel{
    width: 50px!important;
}
.n-hide-menu .n-editor-field{
    width: calc(100% - 70px); 
    margin-left:50px; 
}

input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #2196F3 !important;
}

.n-corpus-item.active,
.n-corpus-item.active p{
    color: black!important;
}

.select-wrapper ul{
    margin-top: 45px!important;
}
.select-wrapper li span{
    padding: 10px 16px!important;
    color: black!important;
    font-size: 14px!important;
}
.select-wrapper li{
    min-height: 40px!important;
}



#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/ufruback.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.35;
    filter:alpha(opacity=30);
}

.urfuLogo{
    background-image: url('../img/UrFULogo.png');
    background-repeat: no-repeat;    
    background-size: contain;
    width: 105px;
    height: 100px;
    margin: auto;
    position: relative;
    left: -50%;
}

.n-mobile-mobal{
    top:0!important;
    width: 100%!important;
}
.n-mobile-mobal input{
    margin: 0!important;
    border: none!important;
    box-shadow: none!important;
    width: calc(100% - 100px)!important;
}
.n-mobile-mobal input[type=text]:not(.browser-default):focus:not([readonly]){
    border: none!important;
}
.n-mobile-mobal .n-back,
.n-mobile-mobal .n-close{
    padding: 10px!important;
}
.n-mobile-mobal .modal-content,
.n-mobile-mobal .modal-body{
    height: 100%;
    background: whitesmoke;
}

.n-mobile-mobal .modal-header{
    padding:10px;
    background-image: url(../img/ufruback.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.n-mobile-mobal .modal-header > .n-inline{
    background: whitesmoke;
    border-radius: 3px;
}

.n-mobile-mobal .modal-body{
    height: calc(100% - 80px);
}